@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-VariableFont_wdth\,wght.ttf');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

svg {
  width: 1.8rem;
  height: 1.8rem;
  fill: black;
}

nav svg {
  fill: white;
}

img {
  width: 48px;
  height: 48px;
  object-fit: cover;
  border-radius: 50%;
}

#app {
  display: grid;
  grid-template-columns: minmax(min-content, 380px) minmax(1250px, 1fr);
  grid-template-rows: 220px 1fr;
  width: 100dvw;
}

nav {
  grid-column: 1;
  grid-row: 1 / -1;
  background-color: #1992D4;
  display: grid;
  grid-template-rows: 50px 350px 1fr;
  padding: 1.5rem;
  color: white;
  gap: 4rem;
  box-shadow: inset -5px 0 10px rgba(0, 0, 0, 0.1);
}

nav a {
  color: white;
  text-decoration: none;
}

.logo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  width: 40px;
  height: 40px;
  gap: 5px;
}

.logo-part {
  background-color: white;
}

.logo-part:nth-child(1) {
  grid-column: 1;
  grid-row: 1 / 4;
}

.logo-part:nth-child(2) {
  grid-column: 2;
  grid-row: 1 / 3;
}

.logo-part:nth-child(3) {
  grid-column: 1;
  grid-row: 4 / 6;
}

.logo-part:nth-child(4) {
  grid-column: 2;
  grid-row: 3 / 6;
}

.nav-header {
  display: grid;
  grid-template-columns: 48px 1fr;
  align-items: center;
  gap: 0.5rem;
}

.nav-header h1 {
  font-size: 2rem;
  font-weight: 500;
  margin-left: 10px;
}

.nav-links,
.nav-menu {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 2.5rem;
  gap: 1rem;
}

.nav-links a,
.nav-menu a {
  display: grid;
  grid-template-columns: 48px 1fr;
  align-items: center;
  gap: 0.5rem;
}

.nav-links a:hover,
.nav-menu a:hover {
  color: #31e0e3;
  border-radius: 5px;
}

.nav-links,
.nav-menu {
  font-size: 1.7rem;
  font-weight: 500;
  padding: 0 0.5rem;
}

header {
  grid-column: 2 / -1;
  grid-row: 1;
  background-color: white;
  display: grid;
  grid-template-rows: 50px 1fr;
  align-items: center;
  padding: 1.5rem 5rem 1rem 4rem;
}

.header-top {
  display: grid;
  grid-template-columns: 3fr 1fr;
  align-items: center;
  gap: 6rem;
}

.search-bar {
  display: grid;
  grid-template-columns: 48px 750px;
  align-items: center;
}

.header-top .search-bar input {
  width: 100%;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 1.5rem;
  background-color: #E2E8F0;
  font-size: 1.2rem;
}

.user-profile {
  display: grid;
  grid-template-columns: 48px 1fr;
  align-items: center;
  gap: 0.5rem;
}

.user-profile svg:hover {
  fill: #31e0e3;
  cursor: pointer;
}

.user-info {
  display: grid;
  grid-template-columns: 50px 1fr;
  align-items: center;
  gap: 1.6rem
}

.user-info .user-name {
  font-size: 1.4rem;
  font-weight: 600;
  text-wrap: nowrap;
}

.user-info .user-name:hover {
  color: #31e0e3;
  cursor: pointer;
}

.user-info img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.user-info img:hover {
  cursor: pointer;
  border: 1px solid #31e0e3;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header-bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  align-self: end;
}

.header-bottom .user-greeting {
  display: grid;
  grid-template-columns: 100px 1fr;
  gap: 1rem;
  align-items: center;
}

.header-bottom .user-greeting img {
  width: 100px;
  height: 100px;
}

.header-bottom .user-greeting .greeting-text {
  display: grid;
  grid-template-rows: 1fr 2fr;
  align-items: center;
}

.header-bottom .user-greeting .greeting-text .greeting {
  font-size: 1.1rem;
  font-weight: 500;
}

.header-bottom .user-greeting .greeting-text .user-name {
  font-size: 1.8rem;
  font-weight: 600;
}

.header-bottom .user-greeting .greeting-text .user-name a {
  color: unset;
  text-decoration: none;
}

.header-bottom .user-greeting .greeting-text .user-name a:hover {
  color: #31e0e3;
}

.header-bottom .action-buttons {
  display: grid;
  grid-template-columns: repeat(3, 120px);
  gap: 1.8rem;
  justify-self: end;
}

.header-bottom .action-buttons button {
  padding: 0.8rem;
  border: none;
  border-radius: 2rem;
  background-color: #1992D4;
  color: white;
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
}

.header-bottom .action-buttons button:hover {
  background-color: #31e0e3;
}

main {
  grid-column: 2 / -1;
  grid-row: 2 / -1;
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  gap: 1.5rem;
  padding: 2.5rem 1.5rem;
  background-color: #E2E8F0;
  /* add inset shadow to top border */
  box-shadow: inset 0 10px 10px -5px rgba(0, 0, 0, 0.1);
}

.dashboard-content h1 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.project-list {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 600px));
  grid-auto-rows: 240px;
  gap: 2rem;
  justify-content: center;
}

.card {
  background-color: white;
  padding: 2rem 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
}

.project-item {
  border-left: 8px solid #F0B428;
  display: grid;
  grid-template-rows: 20px 110px 40px;
  gap: 0.5rem;
}

.project-item:hover {
  border-color: #1992D4;
}

.project-item div {
  overflow: auto
}

.project-item h2 {
  font-size: 1.35rem;
  font-weight: 600;
  margin-bottom: 0.2rem;
}

.project-item p {
  font-size: 1.2rem;
  font-weight: 400;
  color: gray;
}

.project-item .project-actions {
  display: grid;
  grid-template-columns: repeat(3, 50px);
  gap: 0.5rem;
  align-self: end;
  justify-content: end;
}

.project-item .project-actions button {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  display: grid;
  place-items: center;
  cursor: pointer;
}

.project-item .project-actions button:hover {
  background-color: #E2E8F0;
}
